{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tailwindcss/dist/output.css' %}">
    <title>Password</title>
</head>
<body>

    <main class="w-screen h-dvh flex justify-center">
        <div class="bg-white max-w-xl w-full mt-30 h-48 px-20">
            <p class="text-red-400 text-sm font-medium mb-2">{{ error_message }}</p>
            <form action="{% url 'mfa:setup_mfa' %}" method="POST" class="space-y-4">
                {% csrf_token %}

                <div class="md:flex items-center justify-start space-y-2 md:space-x-2">
                    <label for="user-password" class="block text-base font-medium">Enter your password</label>
                    <input type="password" name="user-password" id="user-password" class="block px-2 py-1
                            focus:ring-0 focus:outline-none focus:border-site-border-color 
                            border-2 border-site-border-color rounded-sm">
                </div>
                <div>
                    <button type="submit" class="block bg-site-primary-violet hover:bg-site-primary-violet-shaded 
                                        cursor-pointer text-white px-6 py-2 rounded-sm">Submit</button>
                </div>
            </form>
        </div>
    </main>
    
</body>
</html>